{% extends 'base.html.twig' %}

{% block title %}Hello Autos!{% endblock %}


{% block body %}
  <div class="hero-image">
    <div class="hero-text">
      <h1>Welcome to ,<span class="text-warning">Golans' Cars </span></h1>
      <p>the best and the only</p>
      <a href="#" class="btn btn-primary">lets start it </a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Model</th>
      <th scope="col">type</th>
      <th scope="col">gewicht</th>
      <th scope="col">prijs</th>
    </tr>
    </thead>
      <tbody>


  {% for Autos in Show %}

      <tr>
        <th scope="row"> {{ Autos.id }}</th>
        <td>{{ Autos.model }}</td>
        <td>{{ Autos.type }}</td>
        <td>{{ Autos.gewicht }}</td>
        <td>{{ Autos.prijs }}</td>






  {% endfor %}
      </tbody>

      </thead>
  </table>
  <a href="/add" class="btn btn-info ms-2">toevogen</a>


{% endblock %}
